/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

mat-card {
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: 0 auto;
}


input[type="file"] {
  visibility: hidden;
}
